@import url('demo.css');
@import url('font-awesome.css');

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.form-3 {
    background: url(https://itspixelperfectblog.files.wordpress.com/2013/07/twitter-logo.jpeg); 
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #191919;
    border-radius: 0.4em;
    box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.08),
    0 16px 10px -8px rgba(0, 0, 0, 0.6);
    margin: 60px auto;
    position: relative;
    width: 50%;
    height: 50vh;
    object-fit: cover;
    padding-left: 2em;
}

.form-3 input[type=text],
.form-3 input[type=password] {
    /* Size and position */
    width: auto;
    height: 1.1Aem;
    padding: 8px 5px;
    font-size: 1.5em;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 3px;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    margin: 2px;
    padding: 0;
}

.form-3 input[type=text]:focus, 
.form-3 input[type=password]:focus {
    box-shadow: inset 0 0 2px #000;
    border-color: #51cbee;
    outline: none; /* Remove Chrome outline */
}

.form-3 input[placeholder="Username"],
.form-3 input[placeholder="Password"] {
    color: blue;
}

.form-3 input[type=submit] {
    /* Width and position */
    width: 100%;
    padding: 8px 5px;
  
    /* Styles */
    border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
  
    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 2.5em;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    bottom: 0;
    /* W WW W OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO W W W W W W W W W W W*/
}

.form-3 input[type=submit]:hover { 
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}

.form-3 input[type=submit]:active {
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000; /* Fallback */
    border-color: rgba(0,0,0,0.9);
}


#body {
    background: url(../images/bg-waves4.png); 
    background-repeat: no-repeat;
    margin: 60px auto;
    padding: 10px;
    width: 50%;
    height: 50vh;
}

input[type=text], textarea {
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 2.4em;
}
.h1h1{
    border: 1px solid red;
}
#taglist {
    color: darkblue;
    font-weight: 700;
    font-size: 2.5em;
    word-wrap: break-word;
    max-width: none;
    background-color: white;
    margin-top: 2rem;
    padding: 2rem;
}